My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ac2ad01b-8263-45ab-afd9-d04898e607fe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/ndtvnews-top-stories",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "d83e9198-2e2b-4c08-9f7a-941b495ee26c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "18498946-dba4-4ee0-8854-0277ad5c6389",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "=6580767103",
        "text": "=📰 {{ $('Code in JavaScript').item.json.title }}\n\n{{ $json.choices[0].message.content }}\n\n🔗 {{ $('Code in JavaScript').item.json.link }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "855db1aa-2ec6-4815-b535-b92953a86726",
      "name": "Send a text message",
      "webhookId": "2fe77fc1-8828-4127-baf6-2c1ef390099a",
      "credentials": {
        "telegramApi": {
          "id": "Oi5S0SI4lpvLtO4g",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "b7db2406-3f32-40fc-9919-e178e194b9e9",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rJJe7vLwjA2Bi6aK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nfor (const item of $input.all()) {\n  items.push({\n    json: {\n      body: JSON.stringify({\n        model: \"llama-3.3-70b-versatile\",\n        messages: [\n          {\n            role: \"user\",\n            content: `Summarise this news in 5 numbered points, no special characters:\\n\\n${item.json.title}\\n\\n${item.json.contentSnippet}`\n          }\n        ]\n      }),\n      title: item.json.title,\n      link: item.json.link\n    }\n  });\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "292a2d77-6b15-48aa-b8e4-199f6cff48fa",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3ce43f8-05dc-4cde-9214-1670624d4405",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d59cb927e97983a8edeebba6ef659e79c141e18261ef31eaca3b90cf19e9a98a"
  },
  "id": "2re3f2QNxpxD1Vc5",
  "tags": []
}